header{
  background-color: gray;
}

#menu {
  width:400px;
  margin:0 auto;
  padding:0;
  list-style-type:none;
}

#menu:after {
  content:'';
  display:block;
  clear:both;
}

#menu > li {
  float:left;
}

#menu > li:first-child {
  background-color:red;
  width:30%;
}

#menu > li:first-child + li {
  background-color:green;
  width:40%;
}

#menu > li:first-child + li + li {
  background-color:blue;
  width:30%;
}

#menu > li > a {
  display:block;
  padding:5px;
  text-decoration:none;
  color: white;
  text-align:center;
  background-color:#990099;
  box-shadow:0 0 0 1px #990099 inset;
  background-image:linear-gradient(#990099 0%, #990099 30%, #990099 70%, #990099 100%);
  width: 150px;
}

#menu > li:hover > a {
  background-color:#990099;
  background-image:none;
}

#menu > li {
  position:relative;
}

#menu > li > ul {
  width:100%;
  display:none;
  position:absolute;
  z-index:1;
  margin:0;
  padding:0;
  list-style-type:none;
  background-color:#b000b0;
  width: 160px;
}

#menu > li:hover > ul {
  display:block;
}



#menu > li > ul > li:first-child {
  box-shadow:none;
}

#menu > li > ul > li:last-child {
  box-shadow:0 -4px 4px -4px #b000b0, 0 4px 4px -4px #b000b0;
}

#menu > li > ul > li > a {
  display:block;
  text-decoration:none;
  padding:5px;
  color: white;
  width: 150px;
}

#menu > li > ul > li:hover > a {
 color: white;
 background-color: #993399;
}

@media (max-width: 800px) and (min-width: 600px) {
  
    #menu{

     background-color: black;
    }
  }