header{
    padding: 5px;
    background-color: #801a00;
    height: 40px;
  }

  #prawy{
    float: right;
    padding-right: 300px;
  }

  #srodek{
    float: left;
  }

  #banerLewy{
    float: left;
  }

  .header-img {
    height: 40px;
    width: 40px;
    float: left;
    padding-left: 400px;
    }
    header h1 {
    display: inline;
    color: whitesmoke;
  
    }
  
  #menu {
    width:400px;
    margin: 5px;
    padding:0;
    list-style-type:none;
  }
  
  #menu:after {
    content:'';
    display:block;
    clear:both;
  }
  
  #menu > li {
    float:left;
  }
  
  #menu > li:first-child {
    background-color:red;
    width:30%;
  }
  
  #menu > li:first-child + li {
    background-color:green;
    width:40%;
  }
  
  #menu > li:first-child + li + li {
    background-color:blue;
    width:30%;
  }
  
  #menu > li > a {
    display:block;
    padding:5px;
    text-decoration:none;
    color: white;
    text-align:center;
    background-color: #800000;
    box-shadow:0 0 0 1px  #800000 inset;
    background-image:linear-gradient( #800000 0%,  #800000 30%,  #800000 70%,  #800000 100%);
    width: 150px;
  }
  
  #menu > li:hover > a {
    background-color: #800000;
    background-image:none;
  }
  
  #menu > li {
    position:relative;
  }
  
  #menu > li > ul {
    width:100%;
    display:none;
    position:absolute;
    z-index:1;
    margin:0;
    padding:0;
    list-style-type:none;
    background-color:#b30000;
    width: 160px;
  }
  
  #menu > li:hover > ul {
    display:block;
  }
  
  
  
  #menu > li > ul > li:first-child {
    box-shadow:none;
  }
  
  #menu > li > ul > li:last-child {
    box-shadow:0 -4px 4px -4px #b30000, 0 4px 4px -4px #b30000;
  }
  
  #menu > li > ul > li > a {
    display:block;
    text-decoration:none;
    padding:5px;
    color: white;
    width: 150px;
  }
  
  #menu > li > ul > li:hover > a {
   color: white;
   background-color:  #990000;
  }
  
  @media (max-width: 800px) {
    
     
    }
    

  