
#menu {
    display: flex;
    justify-content: center;
    float: left;
    height: 70px;
    background-color: cadetblue;
    width: 70%;
    align-content: center;
    margin-top: 50px;
}
.icon {
    text-align: right;
    float: left;
    margin-left: 100px;
}
#logo {
    width: 30%;
    float: left;
    margin-top: 50px;
    height: 70px;
    background-color: wheat;
}
#baner {
    width: 100%;
    position: fixed;
    height: 50px;
    padding-right: 20px;
    background-color: lightskyblue;
    top: 0;
    text-align: right;
}
#logo img {
    height: 70px;
}
#main {
    width: 100%;
    clear: both;
}